/*
 * Misc CSS styling for consent form and jsPsych questionnaires.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
#game-container {
  margin: 0;
  padding: 0;
  font: caption;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-container > canvas {
  border-radius: 0px;
}
#noconsent {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[class="otherMed"]{
  width: 12.8em;
 }
img[class="testPick"]{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  max-height: 25vh;
  height: 200px;
  margin: auto;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  width: 10em;
  display: inline-block;
  border:1px solid;
  font-size: 2em;
  border-radius: 4px;
}

button[type="button"] {
  font-size: 1.8em;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 8px;
}
input[type="radio"] {
  width: 0.8em;
  height: 0.7em;
  position: relative;
  margin-left:0.3rem;
}
optgroup{
  font-size: 0.4em;
}
option{
  font-size: 0.4em;
}
select{
  font-size: 2em;
  border:1px solid;
  border-radius: 4px;
}
fieldset{
  border-radius: 4px;
}
button[type=submit] {
  width: 4em;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #45a049;
}
form[class="expandable"] {
  display:none;
}

input[id="patient"]:checked ~ form[class="expandable"]{
  display:inline;
}
form[class="expandable"] {
  display:none;
}
input[id="patient"]:checked ~ form[class="expandable"]{
  display:inline;
}
span.required{
  display: none;
}
legend {
  /* background-color: #777777;
  color: #fff; */
  margin: auto;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 2em;
  /* border-radius: 10px;  */
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
fieldset[id="medInfo"]{
  margin-top:0.5rem;
  width:20%;
  margin-left:0.5rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 3em;
  padding-inline-end: 3em;
  padding-top: 1.1em;
  padding-bottom: 2.5em;
  width: 15rem;
  max-width: 80vh;
}
.form-all {
  box-shadow: 0 0 32px rgba(42, 42, 42, 0.16);
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  margin-left: 1em;
  margin-right: 1em;
}
img[class="form-image"] {
  height: 9.5em;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 3em;
  display: flex
}
img[class="attribution-image"] {
  margin-top: 2.2em;
  margin-bottom: 0.5rem;
  height: 6rem;
}
h1 {
  display: block;
  text-align: center;
  font-size: 2.7em;
  margin-block-end: 2.2em;
  margin-block-start: 2.2em;
  font-weight: bold;
}
h2 {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1.5em;
  line-height: initial;
}
hr {
  border: none;
  color: #000000;
  overflow: visible;
  text-align: center;
  height: 8px;
}
p {
  font-size: 2.3em;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
p[class="reason"]{
  font-size: 2em;
  line-height: 1.5;
  margin: auto;
}
.sv_main .sv_container .sv_body .sv_nav .sv_start_btn, .sv_main .sv_container .sv_body .sv_nav .sv_next_btn, .sv_main .sv_container .sv_body .sv_nav .sv_complete_btn {
  float: right;
  font-size: 1.3em;
  width: auto;
}
textarea#sq_100i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_101i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_102i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_103i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_104i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_105i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_115i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_116i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_119i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
textarea#sq_120i{
  font-size: 1.5em;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
select#sq_121i.sv_q_dropdown_control{
  font-size: 1.5em;
}
select#sq_117i.sv_q_dropdown_control{
  font-size: 1.5em;
}

label {
  font-size: 2em;
  display: flex;
  align-items: center;
  /* margin-right: 1em; */
}
label[class="illed"] {
  font-size: 2.3em;
  display: contents;
}
label[id="med"] {
  font-size: 2em;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.3em;
}
label[class="jspsych-survey-likert-opt-label"]{
  font-size: 2em;
  line-height: 1.5em;
  display: block;
}
label[class="jspsych-survey-likert-statement"]{
  font-size: 2em;
  margin-bottom: 0.8em;
  padding-top: 3em;
  display: block;
}
button{
  font-size: 2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Container holding jsPsych content */
 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   background-color: aliceblue;
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;
 }

 .jspsych-content {
   max-width: 60%; /* this is mainly an IE 10-11 fix */
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }

 .instr-box {
  float: left;
  inline-size: 600px;
  overflow-wrap: break-word;
 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: top;
 }

/* fonts and type */
.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */
.jspsych-display-element input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 2em;
}

#jspsych-html-button-response-stimulus {
  line-height: 1.4;
  padding: 10px;
}

.jspsych-html-button-response-btngroup {
  display: inline-block;
  vertical-align: middle;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 2.3em;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: auto;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}
ul.jspsych-survey-likert-opts {
  list-style: none;
  width: 600px;
  margin: 0 auto;
  padding: 0 0 35px;
  display: contents;
  font-size: 14px;
  line-height: 1.1em;
}
.jspsych-survey-likert-opts:before {
  content: '';
  position: relative;
  top: 1.3em;
  /* left: 9.5%; */
  display: contents;
  background-color: #e7e7e7;
  height: 4px;
  width: 100%;
}
.jspsych-survey-likert-opts li input[type=radio]{
  display: block;
  position: relative;
  top: 0;
  height: 0.5em;
  margin: auto;
}
.jspsych-survey-likert-statement {
  display: block;
  font-size: 2em;
  padding-top: 2.7em;
  margin-bottom: 1em;
  line-height: normal;
}
/* custom style for input[type="range] (slider) to improve alignment between positions and labels */
.jspsych-slider {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background: transparent;
  margin-top: 0.5rem;
}

.jspsych-slider:focus {
  outline: none;
}

/* track */
.jspsych-slider::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.jspsych-slider::-moz-range-track {
  appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.jspsych-slider::-ms-track {
  appearance: none;
  width: 99%;
  height: 14px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

/* thumb */
.jspsych-slider::-webkit-slider-thumb {
  border: 1px solid #666;
  height: 24px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

.jspsych-slider::-moz-range-thumb {
  border: 1px solid #666;
  height: 24px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

.jspsych-slider::-ms-thumb {
  border: 1px solid #666;
  height: 20px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -2px;
}

#stimulus {
  font-size: 30px;
}

/*css thought bubble based on code by grant (https://codepen.io/quadbaup/pen/rKOKQv)*/
.thought {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  display:flex;
  background-color:#fff;
  padding:30px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size: 2.3em;
  line-height: 1.2;
  box-shadow: 20px 20px #83af9b;
}
.thought::after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position: absolute;
  z-index: -1;
}
.thought::after {
  content:"";
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
}
.thought:hover {
  background-color: lightskyblue;
  border-color: #aaa;
  cursor: pointer;
}
.thought:responded {
  border-color: #ccc;
}
.thought:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/*misc styling for intervention examples*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.8em;
  line-height: initial;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color: #ccc;
/*  content: open-quote;*/
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* blockquote p {
  display: inline;
} */

.float-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.float-child {
  float:left;
  text-align: center;
  margin-right: 10px;
} 

/* jsPsych progress bar */
#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}

.sv_main span {
  /* word-break: break-word; */
  font-size: 28px;
  line-height: initial;
}